<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http–equiv=“X-UA-Compatible” content=“IE=edge” />
        <title>Email de Confirmação</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
            <tr>
                <td align="center" bgcolor="#aee6c1" style="padding: 40px 0 15px 0;">
                    <img src="http://drive.google.com/uc?export=view&id=1NQdu_sa3Mmm2BCG1ljZbbvm67WZYiFCU" alt="PoliDoc" width="140" height="160" style="display: block; padding: 0 0 10px 0; " />
                    <b style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;"><i>PoliDoc</i></b> 
                </td>
            </tr>
            <tr>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td bgcolor="#cfeedc" align="center" style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                        <b>Bem-Vindo ao sistema PoliDoc!</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;"" align="justify">
                                        Caro discente,
                                        <p style="padding: 0px 20px 0px 10px; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;"" align="justify">
                                            A equipe PoliDoc lhe dá as boas-vindas e agradece o seu cadastro.<br>
                                            Esperamos que o nosso sistema lhe proporcione a ajuda necessária para facilitar a sua jornada acadêmica.<br>
                                            Sua conta está quase pronta! Por favor, utilize o link a seguir para finalizar o processo de verificação e ativar a sua conta.<br>
                                        </p> 
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#cfeedc" align="center" style="color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
                                        <p><a href="{{ confirmar_url }}" style="color: #153643;"><font color="#153643">Link de verificação</font></a></p>
                                    </td>
                                </tr>
                            </table>
                        </td>                    
                    </tr>
                </table>
            </tr>
            <tr>
                <td bgcolor="#aee6c1" style="padding: 30px 30px 30px 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="75%">
                                &reg; Equipe PoliDoc, Brasil 2021
                            </td>
                            <td align="right" width="25%" style="padding-left: 5px;">
                                <a href="https://github.com/html-3/projeto1_eel670">
                                    <img src="http://drive.google.com/uc?export=view&id=1hjiywQ3n_7KTWePWa6nCwYnZi5K5ER96" alt="GitHub" width="38" height="38" style="display: block;" border="0" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </body>
</html>
