{% extends "layout.html" %}

{% block content %}
<div role="main" class="content-section">
    <legend class="border-bottom mb-4">Números de usuários: <b>{{ quantidade }}</b> </legend>
    <ul class="list-group">
    {% for usuario in usuarios.items %}
    
    <li class="list-group-item list-group-item-light d-flex justify-content-between">
        <div>
        {{ usuario.nome_usuario }} - 
        <i> {{ usuario.email }} </i> 
        </div>
    </li>
    {% endfor %}
    </ul> 
    <br>
    <div class="text-center">
    {% for page_num in usuarios.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if usuarios.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('usuarios.lista_usuarios', page=page_num) }}">{{ page_num }}</a>
          {% if current_user.admin %}
            <div>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Deletar</button>
            </div>
          {% endif %}
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('usuarios.lista_usuarios', page=page_num) }}">{{ page_num }}</a>
          {% if current_user.admin %}
          <div>
             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Deletar</button>
          </div>
          {% endif %}
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Excluir Conta?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <form action="{{ url_for('usuarios.excluir_conta')}}" method="POST">
          <input class="btn btn-danger" type="submit" value="Deletar">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}