{% extends "layout.html" %}

{% block content %}
{% if current_user.admin %}
    <h1>{{ title }} - Moderação</h1>    
{% else %}
    <h1>{{ title }}</h1>
{% endif %}
<div role="main" class="content-section">
    <legend class="border-bottom mb-4">Escolha o docente que você deseja acessar!</legend>
    <ul class="list-group">
    {% for doce in doces.items %}
    
    <li class="list-group-item list-group-item-light d-flex justify-content-between">
        <div>
        {{ doce.nome }} - 
        <i> {{ doce.dep }} </i> 
        </div>
        <div>
            <a class="text-right" href="{{ doce.link_ufrj }}">Link</a> -   
            <a class="text-right" href="{{ url_for('docentes.docente_esp', docente_id=doce.id) }}">Acessar</a>
        </div>
        
    </li>
    {% endfor %}
    <br>
    </ul>
    <div class="text-center">
        {% for page_num in doces.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if doces.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('docentes.docente', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('docentes.docente', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            &nbsp;&nbsp;&nbsp;
          {% endif %}
        {% endfor %}    
    </div>
</div>
<div class="content-section">
    <form method="POST" action="">
        <!-- CSRF Token -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Adicione um docente!</legend>
            <div class="form-group">
                {{ form.nome.label(class="form-control-label") }}
                {% if form.nome.errors %}
                    {{ form.nome(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.nome.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nome(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.dep.label(class="form-control-label") }}
                {% if form.dep.errors %}
                    {{ form.dep(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dep.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dep(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.siape.label(class="form-control-label") }}
                {% if form.siape.errors %}
                    {{ form.siape(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.siape.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.siape(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.link.label(class="form-control-label") }}
                {% if form.link.errors %}
                    {{ form.link(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.link(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-default"> Confirmar </button>
    </form>
</div>
{% endblock %}