{% extends "layout.html" %}

{% block content %}
<h1>{{ title }} - Edição</h1>
<div class="content-section">
    <form method="POST" action="">
        <!-- CSRF Token -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edite o documento!</legend>
            <div class="form-group">
                {{ form.nome.label(class="form-control-label") }}
                {% if form.nome.errors %}
                    {{ form.nome(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.nome.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nome(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.siape.label(class="form-control-label") }}
                {% if form.siape.errors %}
                    {{ form.siape(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.siape.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.siape(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.dep.label(class="form-control-label") }}
                {% if form.dep.errors %}
                    {{ form.dep(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dep.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dep(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.link.label(class="form-control-label") }}
                {% if form.link.errors %}
                    {{ form.link(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.link(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-default"> Confirmar </button>
    </form>
    </div>

{% endblock content %}