{% extends "layout.html" %}

{% block content %}
<div role="main" class="content-section">
    <legend class="border-bottom mb-4">Escolha o documento que você deseja acessar!</legend>
    <ul class="list-group">
    {% for doc in docs.items %}
    
    <li class="list-group-item list-group-item-light d-flex justify-content-between">
        <div>
        {{ doc.titulo }} - 
        <i> {{ doc.autor }} </i> 
        </div>
        <div>
            {% if doc.dono_id %}
            <a class="text-right" href="{{ url_for('docentes.docente_esp', docente_id=doc.dono_id) }}">Docente</a> -
            {% endif %}   
            <a class="text-right" href="{{ url_for('documentos.documento_esp', documento_id=doc.id) }}">Acessar</a> -
            <a class="text-right" href="http://drive.google.com/uc?export=view&id={{ doc.file_link }}">Download</a>
        </div>
        
    </li>
    {% endfor %}
    <br>
    </ul>
    <div class="text-center">
        {% for page_num in docs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if docs.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('documentos.documento', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('documentos.documento', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            &nbsp;&nbsp;&nbsp;
          {% endif %}
        {% endfor %}    
    </div>
</div>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        <!-- CSRF Token -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Adicione um documento!</legend>
            <div class="form-group">
                {{ form.titulo.label(class="form-control-label") }}
                {% if form.titulo.errors %}
                    {{ form.titulo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.titulo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.titulo(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.autor.label(class="form-control-label") }}
                {% if form.autor.errors %}
                    {{ form.autor(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.autor.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.autor(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.tipo.label(class="form-control-label") }}
                {% if form.tipo.errors %}
                    {{ form.tipo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tipo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tipo(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.formato.label(class="form-control-label") }}
                {% if form.formato.errors %}
                    {{ form.formato(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.formato.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.formato(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.arquivo.label() }}
                {{ form.arquivo(class="form-control-file") }}
                {% if form.arquivo.errors %}
                    {% for error in form.arquivo.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dono.label(class="form-control-label") }}
                {% if form.dono.errors %}
                    {{ form.dono(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dono.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dono(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-default"> Confirmar </button>
    </form>
</div>
{% endblock %}